{% extends "polls/base.html" %}
{% block title %}
<title>Etat de {{produit.name}} </title>
{% endblock %}
{% block title2 %}
<h1>Etat {{produit.name}}</h1>
{% endblock %}
{%block content %}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
    	<div class="detail">
        	<h1>Etat {{produit.name}}</h1>
        	<p>Poids: {{produit.Poids}}</p>
        	<p>Nbr cartons: {{produit.nbr_cartons}}</p>
        </div>
        <table class="table table-striped">
			<thead>
				<tr>
					<th>Client</th>
					<th>Date de l'opération</th>
					<th>Produit</th>
					<th>Poids</th>
					<th>Nbr cartons</th>
				</tr>
			</thead>

			<tbody>
				{% for operation in operation %}
				<tr>
					<td>{{operation.client}}</td>
					<td>{{operation.date}}</td>
					<td>{{operation.produit}}</td>
					<td>{{operation.poids}}</td>
					<td>{{operation.nbr_cartons}}</td>
				</tr>
				{% endfor %}	
			</tbody>
		</table>
		<a href="/polls/export/{{produit.id}}/">télécharger pdf</a>
    </div>
</div>

{% endblock %}